//
// # Utilities
//
// No styleguide reference.

.Aside {
  &:extend(.pull-right);
}

.Hidden {
  display: none;
}

.SpDropdownHandle {
  position: static;
  min-width: 0;
  &:extend(.caret all);
}

.TinyProgress {
  position: relative;
  display: inline-block;
  height: @line-height-computed;
  width: @line-height-computed;
  vertical-align: top;
  line-height: @line-height-computed;
}
