//
// # Mixins
//
// No styleguide reference.

.reset-headings() {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: @font-family-base;
    font-size: @font-size-base;
    font-weight: 500;
    line-height: @line-height-base;
  }
}

