//
// # Glyphicons
//
// No styleguide reference.

// Library
// -----------------------------------------------------------------------------

@import (once) "@{bootstrap}/glyphicons";

// Extensions
// -----------------------------------------------------------------------------

.Sprite,
.Sprite16,
.SpFlyoutHandle {
  &:extend(.glyphicon);
}

.SpNotifications {
  &:extend(.glyphicon-globe all);
}

.SpInbox {
  &:extend(.glyphicon-inbox all);
}

.SpBookmarks {
  &:extend(.glyphicon-bookmark all);
}

.SpOptions,
.SpFlyoutHandle,
.SpPreferences {
  &:extend(.glyphicon-cog all);
}

.SpActivity {
  &:extend(.glyphicon-time all);
}

.SpDiscussion,
.SpDiscussions,
.SpComment,
.SpComments {
  &:extend(.glyphicon-comment all);
}

.SpAllCategories {
  &:extend(.glyphicon-tags all);
}

.SpEditProfile,
.SpMyDiscussions {
  &:extend(.glyphicon-user all);
}

.SpMyDrafts {
  &:extend(.glyphicon-file all);
}

.SpMod {
  &:extend(.glyphicon-flag all);
}

.SpDashboard {
  &:extend(.glyphicon-dashboard all);
}

.SpDelete {
  &:extend(.glyphicon-ban-circle all);
}

.SpEdit,
.SpApplicants {
  &:extend(.glyphicon-edit all);
}

.SpSpam {
  &:extend(.glyphicon-fire all);
}

.SpSignIn {
  &:extend(.glyphicon-log-in all);
}

.SpSignOut {
  &:extend(.glyphicon-log-out all);
}

.SpPassword {
  &:extend(.glyphicon-lock all);
}

.SpPicture {
  &:extend(.glyphicon-picture all);
}

.SpThumbnail {
  &:extend(.glyphicon-resize-small all);
}

// Bookmark Icons

a.Bookmark {
  .hide-text();

  & {
    .glyphicon();
    .glyphicon-star-empty()
  }

  &:before {
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @brand-warning;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:before {
      color: @link-hover-color;
    }
  }

  .OptionsMenu + & {
    margin-left: 5px;
  }
}

a.Bookmarked {
  .glyphicon-star();
}

// Box filter ajustments

.FilterMenu .Sprite {
  margin-right: 6px;
}
