//
// # Sticky Footer
//
// http://getbootstrap.com/examples/sticky-footer/
//
// No styleguide reference.

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: @sticky-footer-height;
  margin-top: @sticky-footer-margin-top;
}

.sticky-footer-body {
  margin-bottom: (@sticky-footer-height + @sticky-footer-margin-top);
}

.sticky-footer-html {
  position: relative;
  min-height: 100%;
}
